@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins';

.followCollection {
  @include flex(row, center, center);
  position: relative;
  margin: -1.5rem 5% 5rem;
  padding: 0 4rem;
  gap: 4rem;
  background: linear-gradient(180deg, var(--gris-fonce) 0%, var(--gris-clair) 58.74%);
  border-radius: 3.5rem;
  opacity: 1;
  @include box-shadow(0px, 4px, 4px, 0px, rgba(0, 0, 0, 0.25));
  height: 60vh;
  overflow: hidden;
}

.gameContainer {
  width: 60%;
  position: relative;
  height: 100%;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.69;
    z-index: 2;
    pointer-events: none;
    border-radius: 10px;
    background-image: var(--gris-fonce-overlay);
  }
}

.gameImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.content {
  width: 50%;
  color: var(--black);
}

.title {
  margin-bottom: 3rem;
  text-align: right;
}

.description {
  text-align: justify;
}

/* Media Queries */
@include respond-to('large') {
  .followCollection {
    margin-top: 12rem;
  }
}

@include respond-to('medium') {
  .followCollection {
    @include flex(column, center, center);
    padding: 0;
    background: linear-gradient(180deg, var(--gris-fonce) 0%, var(--gris-clair) 100%);
    margin-bottom: 1rem;
  }

  .gameContainer {
    width: 100%;
    height: 60vh;

    &::after {
      opacity: 0.8;
      background:
        linear-gradient(180deg, var(--gris-fonce) 0%, var(--gris-clair) 100%),
        linear-gradient(180deg, var(--gris-fonce) 0%, var(--gris-clair) 90%);
    }
  }

  .content {
    position: absolute;
    justify-content: center;
    width: 90%;
    text-align: center;
    z-index: 3;
  }

  .titleCollection {
    text-align: center;
  }
}

@include respond-to('small') {
  .followCollection {
    margin-top: -2rem;
  }
}
