@import '../../../../styles/mixins';
@import '../../../../styles/variables.scss';


.followTrophy {
  @include flex(column, center, center);
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #8698a9;
  background-image: linear-gradient(
      to top,
      #8698a9 0%,
      rgba(134, 152, 169, 0.7) 50%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      #8698a9 0%,
      rgba(134, 152, 169, 0.3) 30%,
      transparent 60%
    ),
    url('/images/NoLogin/BackgroundTrophy.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.TitleStyle {
  position: relative;
  width: 100%;
  height: 8em;
}

.shapeLeft {
  position: absolute;
  width: clamp(75%, 80%, 85%);
  height: clamp(60%, 80%, 90%);
  background: linear-gradient(90deg, #ede3dd 0%, #bfb5af 100%);
  @include box-shadow(7px, 12px, 10.6px, 0, rgba(0, 0, 0, 0.25));
  left: 0;

  clip-path: polygon(
    0 0,
    70% 0,
    100% 100%,
    0 100%
  );
}

.titleTrophy {
  position: absolute;
  top: 50%;
  left: 6rem;
  margin: 0;
  text-align: justify;
  transform: translateY(-50%);
}

.shapeRight {
  position: absolute;
  width: clamp(30%, 40%, 50%);
  height: clamp(60%, 80%, 90%);
  background: linear-gradient(90deg, #ede3dd 0%, #bfb5af 100%);
  @include box-shadow(-7px, 12px, 10.6px, 0, rgba(0, 0, 0, 0.25));
  right: 0;

  clip-path: polygon(
    100% 0,
    0% 0,
    60% 100%,
    100% 100%
  );
}

.stripe {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(270deg, #0c60b9 0%, #2fd7fd 122.48%);

  &1 {
    top: 40%;
    height: 20%;
  }

  &2 {
    top: 75%;
  }
}

.followTrophy-container {
  height: 55vh;
  @include flex(row, space-between, center);
}

.trophyInfos {
  @include flex(row, space-between, inherit);
  position: relative;
  width: 100%;
  gap: 2rem;
}

.trophyImage-container {
  flex: 1;
  max-width: 60%;
  height: auto;
}

.trophyImage {
  position: relative;
  width: 120%;
  height: auto;
  right: -4rem;
  object-fit: contain;
}

.trophyParagraph {
  flex: 0 0 40%;
  text-align: justify;
  gap: 3rem;
  max-width: 40%;
  p {
    margin-bottom: 1.5rem;
  }
}

/* Media Queries */
@include respond-to('medium') {
  .shapeLeft {
    width: clamp(65%, 80%, 85%);
    height: clamp(55%, 70%, 75%);
    clip-path: polygon(
      0 0,
      73% 0,
      100% 100%,
      0 100%
    );
  }

  .shapeRight {
    width: clamp(25%, 35%, 40%);
    height: clamp(55%, 70%, 75%);
  }

  .titleTrophy {
    width: 42%;
    left: 5rem;
  }

  .trophyInfos {
    @include flex(column, center, center);
    padding: 0 1rem;
  }

  .trophyImage {
    width: 100%;
    order: 2;
    align-self: center;
    right: 0rem;
  }

  .trophyParagraph {
    margin: 0;
    order: 1;
    text-align: center;
    max-width: 100%;
  }
}

@include respond-to('small') {
  .TitleStyle {
    position: relative;
    width: 100%;
    height: 10em;
  }

  .titleTrophy {
    width: 40%;
    left: 3rem;
  }
} 