@use '../../../../styles/_variables' as *;
@use '../../../../styles/mixins' as *;


.followCollection {
  @include flex(column, center, center);
  height: 90vh;
}

.followCollection-container {
  @include flex(row, center, center);
  position: relative;
  padding: 0 4rem 0 0;
  gap: 4rem;
  background: linear-gradient(180deg, var(--gris-fonce) 0%, var(--gris-clair) 58.74%);
  border-radius: 3.5rem;
  opacity: 1;
  @include box-shadow(0px, 4px, 4px, 0px, rgba(0, 0, 0, 0.25));
  height: 60vh;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.69;
    z-index: 2;
    pointer-events: none;
    border-radius: 3.5rem;
    background: linear-gradient(180deg, var(--gris-fonce) 0%, var(--gris-clair) 58.74%);
  }
}

.gameContainer {
  width: 60%;
  position: relative;
  height: 100%;
  z-index: 1;
}

.gameImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.content {
  width: 50%;
  color: var(--black);
  position: relative;
  z-index: 3;
}

.titleCollection {
  text-align: right;
}

.title {
  margin-bottom: 3rem;
  text-align: right;
}

.description {
  text-align: justify;
}

/* Media Queries */
@include respond-to('medium') {

  .followCollection-container {
    margin: 0 auto;
    @include flex(column, center, center);
    padding: 2rem;
  }

  .gameContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    filter: blur(1px);
  }

  .gameImage {
    border-radius: 3.5rem;
  }

  .content {
    width: 80%;
    text-align: center;
    z-index: 3;
    position: relative;
  }

  .title {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .description {
    text-align: center;
  }
}
