.synopsis-taxonomie {
  margin-bottom: 16px;
  
  .synopsis-title {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px;
    color: var(--bleu-fonce);
    font-family: var(--font-title);
  }
  
  .synopsis-text {
    color: var(--gris-fonce-2);
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 16px;
  }
  
  .taxonomie-item {
    margin-top: 8px;
    color: var(--gris-fonce-2);
    font-size: 14px;
    
    strong {
      color: var(--bleu-fonce);
      font-weight: 600;
    }
    
    &:first-of-type {
      margin-top: 16px;
    }
  }
} 