.synopsis-taxonomie {
  margin-bottom: 16px;
  color: var(--black) !important;

  
  h2.synopsis-taxonomie__title,
  h3.synopsis-taxonomie__title {
    font-size: 1.25rem;
    font-weight: 900;
    margin: 0;
    margin-bottom: 0.5rem;
    font-family: var(--font-title);
    color: var(--black);
  }
  
  &__subtitle {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-family: var(--font-title);
    color: var(--black) !important;
  }
  
  &__text {
    color: var(--black) !important;
    font-size: 0.875rem;
    line-height: 1.6;
    margin-bottom: 16px;
    font-family: var(--font-text);
    font-weight: 500;
  }
} 