.colonne-gauche-jeu {
  position: relative; 
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 1.8rem 1rem 1.2rem;
  z-index: 10;

  .button {
    width: 100%;
    font-size: 0.9rem;
    letter-spacing: 0.4px;
    z-index: 10001 !important;
    position: relative;
  }

  .stars {
    margin: 16px 0;
    font-size: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 8px;
    z-index: 100;
    position: relative;
  }

  .quick-actions {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    z-index: 100;
    position: relative;

    span {
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), var(--gris-fonce);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 0.5rem;
      position: relative;
      width: 80px;
      height: 80px;
      justify-content: center;
      padding: 0.75rem 0.5rem;
      transition: all 0.5s ease-in-out;
      cursor: pointer;

      &:hover {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), var(--gris-fonce);
        transform: scale(1.05);
      }

      p {
        font-size: 0.875rem;
        font-weight: 700;
        color: var(--white);
      }

      svg {

        // Pour "J'ai"
        position: relative;
        width: 16px;
        height: 22px;
        
        // Pour "J'y joue"
        &[width="26"] {
          width: 24px;
          height: 22px;
        }
        
        // Pour "Je veux"
        &[width="20"] {
          width: 20px;
          height: 22px;
        }
      }
    }
  }
} 