.synopsis-taxonomie {
  margin-bottom: 16px;
  color: var(--black) !important;

  
  h2.synopsis-taxonomie__title,
  h3.synopsis-taxonomie__title {
    font-size: 1.25rem;
    font-weight: 900;
    margin: 0;
    margin-bottom: 0.5rem;
    font-family: var(--font-title);
    color: var(--black);
  }
  
  &__subtitle {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-family: var(--font-title);
    color: var(--black) !important;
  }
  
  &__text {
    color: var(--black) !important;
    font-size: 0.875rem;
    line-height: 1.6;
    margin-bottom: 16px;
    font-family: var(--font-text);
    font-weight: 500;
  }
} 

.genres-list {
  display: flex;
  gap: 16px;
  margin-top: 12px;
  margin-bottom: 8px;
}

.genre-badge {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), var(--gris-fonce);
  border-radius: 8px;
  padding: 6px 18px;
  font-weight: bold;
  font-size: 0.875rem;
  font-family: var(--font-title);
  box-shadow: 0 1px 2px rgba(0,0,0,0.7);
  letter-spacing: 0.01em;
  transition: all 0.5s ease-in-out;
  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), var(--gris-fonce);
    color: var(--white);
    transform: scale(1.05);
  }
} 