.tabs-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 18rem;
  position: relative;
  overflow: visible;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 37.5%;
    transform: translateX(-50%);
    width: 100vw; 
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), var(--gris-fonce);
    z-index: -1;
  }

  &__navigation {
    display: flex;
    gap: 24px;
    margin-left: 2rem;
  }

  &__button {
    font-family: "DM Sans", sans-serif;
    color: var(--white);
    font-weight: 900;
    font-size: 1.25rem;
    background: none;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    color: var(--white);
    transition: all 0.2s ease;
    position: relative;

    &:hover {
      background: var(--gris-fonce);
      padding-bottom: 0.5rem;
      transform: translateY(-2px);
    }

    &--active {
      background: var(--gris-fonce);
      color: var(--white);
      
      &:hover {
        background: var(--gris-fonce);
        color: var(--white);
        transform: none;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;

    &__navigation {
      gap: 16px;
      justify-content: center;
    }

    &__button {
      padding: 6px 12px;
      font-size: 12px;
    }
  }
}
