@import '../../../../styles/mixins';

.embedWrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 300px;
  overflow: hidden;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.credits {
  font-size: 0.8rem;
  margin: 5px;
  color: #4A4A4A;
} 