@use '@/styles/mixins' as *;
@use '@/styles/_variables' as *;


.logo {
  @include flex(row, flex-start, center);
  gap: 10px;
  text-decoration: none;
  @include transition(opacity, 0.2s, ease);

  &:hover {
    opacity: 0.9;
  }

  &-crystalGif {
    width: auto;
    height: 70px;

    @include respond-to("medium") {
      height: 60px;
      width: 60px;
    }
  }

  //Ecriture "CheckPoint" dans le logo
  &-checkPoint {
    @include flex(column);
    font-family: "Karantina", cursive;
    font-weight: bold;
    letter-spacing: 0.15em;
    line-height: 1;

    &-check {
      font-size: clamp(32px, 5vw, 38px);
      color: var(--bleu-crystal-normal);
      line-height: 1;
      margin-bottom: -1rem;

      @include respond-to("medium") {
        margin-bottom: -0.8rem;
      }
    }

    &-point {
      font-size: clamp(32px, 5vw, 38px);
      color: var(--black);
      line-height: 1.3;
    }
  }
}
