@import "@/styles/mixins";
@import "@/styles/variables";

/* ----------------- Inscription Navbar (BEM) ----------------- */
.inscription-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include flex(row, space-between, center);
  padding: 3% 4%;
  overflow: hidden;
  font-size: clamp(16px, 2vw, 20px);
  z-index: 1000;
  height: 80px;
  @include transition(all, 0.3s, ease);

  &__left {
    @include flex(row, flex-start, center);
    gap: 40px;
    position: relative;
    z-index: 2;
  }

  &__right {
    @include flex(row, flex-end, center);
    font-family: var(--base);
    gap: 20px;
    font-size: clamp(0.5625rem, 0.4482rem + 0.4878vw, 0.875rem);
  

    &__back-link {
      color: var(--white);
      font-size: clamp(-0.4375rem, 0.4024rem + 0.6829vw, 1rem);
      font-weight: 500;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      @include transition(all, 0.3s, ease);

      &:hover {
        background: rgba(255, 255, 255, 0.1);
        border-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
