@use "tailwindcss";
@use './mixins' as *;

@import url("https://fonts.googleapis.com/css2?family=Karantina&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=DM+Sans:wght@400;500;600;700;900&display=swap");
@import 'boxicons/css/boxicons.min.css';

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  height: auto;
  background: var(--gradient-checkpoint);
  margin: 0;
  color: var(--black);
}

#__next {
  min-height: 100vh;
  @include flex(column);
}

main {
  flex: 1;
}

/* COULEURS */
:root {
  /* Grayscale */
  --gris-clair: #ede3dd;
  --gris-fonce: #bfb5af;
  --gris-fonce-2: #8f8883;
  --gris-classique: #e8ddd5;

  /* Bleus */
  --bleu-fonce: #748599;
  --bleu-clair: #a8bbc5;
  --bleu-classique: #7fa3b8;
  --bleu-clair-crystal: #2fd7fd;
  --bleu-crystal-normal: #23abfa;
  --bleu-crystal-fonce: #0c60b9;

  /* Roses */
  --pink: #eea7b4;
  --pink-clair: #ffe2dc;

  /* Autres couleurs */
  --black: #1d1d1d;
  --white: #f5f5f5;
  --green: #a0e58e;
  --abandonnee: #414549;

  /* Dégradés */
  --gradient-gold: linear-gradient(
    90deg,
    #937c40 0%,
    #ffffff 50%,
    #937c40 100%
  );
  --gradient-checkpoint: linear-gradient(0deg, #748599 0%, #a8bbc5 100%);
  --gradient-crystal: linear-gradient(90deg, #2fd7fd 0%, #0c60b9 100%);
  --gris-nav-bar: #bfb5af;
  --gris-nav-bar-fonce: #8f8883;
  --gris-button: linear-gradient(
    180deg,
    #ddcbc0 0%,
    var(--gris-clair, #ede3dd) 100%
  );

  /* Tailles de police standard */
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
}

/************************** POLICES ***************************/

/*****************TITRES******************/
/*KARANTINA*/
.Title1-Karantina {
  font-size: clamp(4rem, 5vw, 5.5rem);
  font-family: "Karantina", sans-serif;
  margin: 3rem 0;
  font-weight: 700;
  line-height: 1;
}

.Title2-Karantina {
  font-family: Karantina, sans-serif;
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 2rem 0;

  @include respond-to('medium') {
    font-size: clamp(2rem, 5vw, 2.5rem);
  }

  @include respond-to('small') {
    font-size: clamp(1.7rem, 3vw, 2.5rem);
    letter-spacing: 0.1rem;
  }
} 

/*****************PARAGRAPHE******************/
.Paragraphe1 {
  font-size: clamp(1rem, 2vw, 1.125rem);
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 1.5rem;
} 
