@import url("https://fonts.googleapis.com/css2?family=Karantina&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=DM+Sans:wght@700;900&display=swap');
@import "tailwindcss";
@import "boxicons/css/boxicons.min.css";

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COULEURS */
:root {
  /* Grayscale */
  --gris-clair: #ede3dd;
  --gris-fonce: #bfb5af;
  --gris-fonce-2: #8f8883;
  --gris-classique: #e8ddd5;

  /* Bleus */
  --bleu-fonce: #748599;
  --bleu-clair: #a8bbc5;
  --bleu-classique: #7fa3b8;
  --bleu-clair-crystal: #2fd7fd;
  --bleu-crystal-normal: #23abfa;
  --bleu-crystal-fonce: #0c60b9;

  /* Roses */
  --pink: #eea7b4;
  --pink-clair: #ffe2dc;

  /* Autres couleurs */
  --black: #1d1d1d;
  --white: #f5f5f5;
  --green: #a0e58e;
  --abandonnee: #414549;

  /* Dégradés */
  --gradient-gold: linear-gradient(
    90deg,
    #937c40 0%,
    #ffffff 50%,
    #937c40 100%
  );
  --gradient-checkpoint: linear-gradient(90deg, #748599 0%, #a8bbc5 100%);
  --gradient-crystal: linear-gradient(90deg, #2fd7fd 0%, #0c60b9 100%);
  --gris-nav-bar: #bfb5af;
  --gris-nav-bar-fonce: #8f8883;
  --gris-button: linear-gradient(180deg, #ddcbc0 0%, var(--gris-clair, #ede3dd) 100%);



}

body {
  background: var(--gradient-checkpoint);
  font-family: var(--font-base);
  color: var(--black);
}
