@import './mixins';
@import './variables.scss';

// Conteneur principal de la page
.main-container {
  margin: 0 auto;
  width: 80%;
  position: relative;

  @include respond-to('large') {
    width: 92%;
  }
}

// Conteneur pour les sections
.section-container {
  @extend .main-container;
  padding: 2rem 3%;
  
  @include respond-to('medium') {
    padding: 1rem;
  }
}

// Conteneur pour les grilles
.grid-container {
  @extend .main-container;
  display: grid;
  gap: 2rem;
  
  @include respond-to('medium') {
    gap: 1rem;
  }
} 

// Conteneur pour les filtres
.search-page.main-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
aside {
  min-width: 240px;
}
main {
  flex: 1;
}