.followTrophy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 1rem auto;
  position: relative;
  width: 100%;
  background-image: 
    linear-gradient(to bottom, rgba(133,151,167,1) 0%, transparent 20%),
    linear-gradient(to top, rgba(116,133,153,1) 0%, transparent 20%),

    url('/images/NoLogin/BackgroundTrophy.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem 0; 
  overflow-x: hidden;
}

.TitleStyle {
  position: relative;
  width: 100%;
  height: 10em;
}

.shapeLeft {
  position: absolute;
  width: clamp(75%, 80%, 85%);
  height: clamp(60%, 80%, 90%);
  background: linear-gradient(90deg, #ede3dd 0%, #bfb5af 100%);
  box-shadow: 7px 12px 10.6px rgba(0, 0, 0, 0.25);
  left: 0;

  clip-path: polygon(
    0 0,
    /* coin haut gauche */ 
    70% 0, /* coin haut droit */ 
    100% 100%,/* coin bas droit */ 
    0 100% /* coin bas gauche */
  );
}

.titleTrophy {
  position: absolute;
  top: 50%;
  left: 6rem;
  margin: 0;
  text-align: justify;
  transform: translateY(-50%);
}

.shapeRight {
  position: absolute;
  width: clamp(30%, 40%, 50%);
  height: clamp(60%, 80%, 90%);
  background: linear-gradient(90deg, #ede3dd 0%, #bfb5af 100%);
  box-shadow: -7px 12px 10.6px rgba(0, 0, 0, 0.25);
  right: 0;

  clip-path: polygon(
    100% 0, /* coin haut gauche "miroir" */ 
    0% 0, /* coin haut droit */ 
    60% 100%, /* coin bas droit */ 
    100% 100% /* coin bas gauche */
  );
}

.stripe {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(270deg, #0c60b9 0%, #2fd7fd 122.48%);
}

.stripe1 {
  top: 40%;
  height: 20%;
}
.stripe2 {
  top: 75%;
}

.trophyInfos {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 2rem;
}

.trophyImage {
    position: relative;
    width: 35%; 
    height: auto;
    right: -4rem;
    transform: scale(1.2);
    object-fit: contain;
}

.trophyParagraph {
    flex: 1;
    margin: 0 0 0 2rem;
    text-align: justify;
    gap: 1rem;
    max-width: 60%; 
}

.trophyParagraph p {
    margin-bottom: 1.5rem; 
}

@media (max-width: 768px) {
  .shapeLeft {
    width: clamp(65%, 80%, 85%);
    height: clamp(55%, 70%, 75%);
    clip-path: polygon(
      0 0, /* coin haut gauche */ 
      73% 0, /* coin haut droit */ 
      100% 100%, /* coin bas droit */ 
      0 100% /* coin bas gauche */
    );
  }
  .shapeRight {
    width: clamp(25%, 35%, 40%);
    height: clamp(55%, 70%, 75%);
  }

  .titleTrophy {
    width: 42%;
    left: 5rem;;
  }

  .trophyInfos {
    flex-direction: column;
    padding: 0 1rem;
  }

  .trophyImage {
    width: 70%; 
    transform: scale(1);
    order: 2; 
    right: 0;
    align-self: center;
  }

  .trophyParagraph {
    max-width: 90%;
    margin: 0;
    order: 1; 
    text-align: center;
  }
}

@media (max-width: 480px) {
  .TitleStyle {
    position: relative;
    width: 100%;
    height: 10em;
  }

  .titleTrophy {
    width: 40%;
    left: 3rem;
  }
}
