.tab-content-wrapper {
  flex: 1;
}

/**********************************************************
************************* ONGLET FICHE *******************
**********************************************************/

.tab-content {
  &--fiche {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  /**********************************************************
************************* ONGLET MEDIA *******************
**********************************************************/

  &--media {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  /**********************************************************
************************* ONGLET CRITIQUES *******************
**********************************************************/

  &--critiques {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    
  }

  &--challenges {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    }
  }
