.media-section3 {
  background: var(--gris-fonce);
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  
  .media-content__item {
    padding: 3.5rem 3rem;
    
    &-title {
      font-size: 1.25rem;
      font-weight: 900;
      margin-bottom: 1rem;
      color: var(--black);
    }
  }
  
  .media-content__artworks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    
    .media-content__item-image {
      width: 100%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
} 