@import "../../styles/variables.scss";
@import "../../styles/_mixins.scss";
@import "../../styles/layout.scss";

.search-page {
  margin-block: 8rem;

  &__title {
    font-family: "Karantina", cursive;
    font-size: clamp(1.5625rem, 0rem + 6.6667vw, 6rem);
    font-weight: 700;
    color: var(--black);
    margin-bottom: 1.2rem;
    letter-spacing: 5px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
  }

  &__pagination-button {
    padding: 0.5rem 1rem;
    background-color: var(--bleu-crystal-fonce);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover:not(:disabled) {
      background-color: var(--bleu-crystal-normal);
      color: var(--white);
    }

    &:disabled {
      background-color: var(--gris-clair);
      cursor: not-allowed;
    }
  }

  &__pagination-info {
    font-size: 1.1rem;
    color: var(--bleu-fonce);
  }
}
